* {
    box-sizing: border-box;
}



.PokeCard {
    background-color: #d3d3d3;
    margin: 10px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;

}

p {
    margin: 0;
    font-weight: bold;
}

h3 {
    color: blue;
}

.exp {
    margin-bottom: 10px;
}



.PokeCard img {
    width: 150px;
    height: 150px;
}

.PokeDex {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 20px;
}